<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <title>User filter list</title>
</head>
<body>
<div class="container-fluid">
    <h1>Укажите данные для пользователя</h1>
    <div class="row">
        <div class="col-sm">
            <p id="resultText"></p>
        </div>
        <div class="col-sm">
            <form action="/api/user/save" id="saveUser" method="post">
                <div class="form-group">
                    <label for="officeId">Office Id</label>
                    <input class="form-control" id="officeId" name="officeId" type="text">
                </div>
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input class="form-control" id="firstName" name="firstName" type="text">
                </div>
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input class="form-control" id="lastName" name="lastName" type="text">
                </div>
                <div class="form-group">
                    <label for="middleName">Middle name</label>
                    <input class="form-control" id="middleName" name="middleName" type="text">
                </div>
                <div class="form-group">
                    <label for="position">Position</label>
                    <input class="form-control" id="position" name="position" type="text">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input class="form-control" id="phone" name="phone" type="text">
                </div>
                <div class="form-group">
                    <label for="docCode">Document's code</label>
                    <input class="form-control" id="docCode" name="docCode" type="text">
                </div>
                <div class="form-group">
                    <label for="docName">Document's name</label>
                    <input class="form-control" id="docName" name="docName" type="text">
                </div>
                <div class="form-group">
                    <label for="docNumber">Document's number</label>
                    <input class="form-control" id="docNumber" name="docNumber" type="text">
                </div>
                <div class="form-group">
                    <label for="docDate">Document's date</label>
                    <input class="form-control" id="docDate" name="docDate" type="date">
                </div>
                <div class="form-group">
                    <label for="citizenshipCode">Citizenship's code</label>
                    <input class="form-control" id="citizenshipCode" name="citizenshipCode" type="text">
                </div>
                <button class="btn btn-primary" id="submitForm">Submit</button>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $("#submitForm").on("click", function (event) {
            event.preventDefault();
            var data = $("#saveUser").serializeArray();
            $.ajax({
                url: "/api/user/save",
                dataType: 'json',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(getFormData(data)),
                success: function (data) {
                    $.each(data, function (i, val) {
                        $("#resultText").append(document.createTextNode("-" + val));
                        // Не работает, а жаль
                    });
                    console.log(data);
                }
            });
        });

        function getFormData(data) {
            var unindexed_array = data;
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });
            console.log(indexed_array);
            return indexed_array;
        }
    });
</script>
</body>
</html>